{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

  <section>

    <div class="title-cards1">
        <h2>Nuestra Educación</h2>
    </div>
<div class="container-card1">
    <div class="card1">
        <figure>
            <img src="{% static 'img/educacion.jpg' %}">
        </figure>
        <div class="contenido-card1">
            <h3>Primaria</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas, debitis recusandae a distinctio minima.</p> 
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Más información
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="exampleModalLabel">Primaria</h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates iusto atque quaerat corporis ad maxime, nihil ducimus harum incidunt doloremque labore vel ut eos nobis assumenda veniam aspernatur repudiandae commodi!
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="card1">
        <figure>
            <img src="{% static 'img/educacion.jpg' %}">
        </figure>
        <div class="contenido-card1">
            <h3>Secundaria</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas, debitis recusandae a distinctio minima.</p> 
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Más información
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="exampleModalLabel">Secundaria</h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates iusto atque quaerat corporis ad maxime, nihil ducimus harum incidunt doloremque labore vel ut eos nobis assumenda veniam aspernatur repudiandae commodi!
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="card1">
        <figure>
            <img src="{% static 'img/educacion.jpg' %}">
        </figure>
        <div class="contenido-card1">
            <h3>Media Técnica</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas, debitis recusandae a distinctio minima.</p> 
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Más información
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="exampleModalLabel">Media Técnica</h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates iusto atque quaerat corporis ad maxime, nihil ducimus harum incidunt doloremque labore vel ut eos nobis assumenda veniam aspernatur repudiandae commodi!
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
</section>

{% endblock contenido %}