{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<h1>Educación</h1>
    <h2>Primaria</h2>
    Preescolar
En esta etapa, los maestros desenvuelven su labor a partir de los intereses de los niños, delineando proyectos educativos que estimulen la curiosidad y el sentido de investigación de los pequeños.

Primaria
El descubrimiento y reconocimiento del niño dentro de su entorno, sumado al progreso de las competencias académicas, físicas y éticas constituyen la base fundamental de los años de primaria.
    <h2>Secundaria</h2>
 Preescolar
En esta etapa, los maestros desenvuelven su labor a partir de los intereses de los niños, delineando proyectos educativos que estimulen la curiosidad y el sentido de investigación de los pequeños.

Primaria
El descubrimiento y reconocimiento del niño dentro de su entorno, sumado al progreso de las competencias académicas, físicas y éticas constituyen la base fundamental de los años de primaria.
    <h2>Media Técnica</h2>

    Preescolar
En esta etapa, los maestros desenvuelven su labor a partir de los intereses de los niños, delineando proyectos educativos que estimulen la curiosidad y el sentido de investigación de los pequeños.

Primaria
El descubrimiento y reconocimiento del niño dentro de su entorno, sumado al progreso de las competencias académicas, físicas y éticas constituyen la base fundamental de los años de primaria.


<a class="navbar-brand text-white text-center">
    <img src="{% static 'img/prueba.jpg' %}" class="img-circle
      elevation-2" alt="User Image" width="300" height="300"
      class="d-inline-block align-text-top">
  </a>


{% endblock contenido %}