{% extends 'partials/body.html' %}
{% load stactic %}

{% block contenido %}
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Un elemento</li>
      <li class="list-group-item">Un segundo elemento<//li>
      <li class="list-group-item">Un tercer elemento<//li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Enlace de tarjeta</a>
      <a href="#" class="card-link">Otro enlace</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Un elemento</li>
      <li class="list-group-item">Un segundo elemento<//li>
      <li class="list-group-item">Un tercer elemento<//li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Enlace de tarjeta</a>
      <a href="#" class="card-link">Otro enlace</a>
    </div>
  </div>



  

{% endblock contenido %}