{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
<main class="container m-md-auto row">
    <div class="container col-8">
        <div class="m-3">
            <div id="carouselExampleCaptions" class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="0" class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                    <button type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/Banda.jpg' %}" class="d-block
                            w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Nuestros docentes</h5>
                            <p>Se realizo una despedida para dos grandes
                                colaboradores de la institución</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/Banda.jpg' %}" class="d-block
                            w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Orquesta</h5>
                            <p>Nuestro profesor Rocke al frente de la orquesta
                                de la institución.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/Banda.jpg' %}" class="d-block
                            w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Nuestros colaboradores</h5>
                            <p>Despedida de nuestros colaboradores.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-4 align-self-center m-0">
        <div class="d-grid gap-2 m-0">
            <div class="d-grid gap-2 col mx-auto">
                <div class="card" style="width: 12rem;">
                    <img src="{{MEDIA_URL}}{{image_user}}" class="img-circle elevation-2 h-80" alt="User Image">
                    <div class="info text-black">
                        <Strong>{{usuario_actual.first_name}} {{usuario_actual.last_name}}</Strong>
                    </div>
                </div>

                <div class="d-grid gap-2 col">
                    <a href="{% url 'modulos' %}" class="btn btn-success"
                        type="submit">Funciones</a>
                </div>
                <div class="d-grid gap-2 col">
                    <a href="{% url 'logout' %}"class="btn btn-success"
                        type="submit">Cerrar Sesión</a>
                </div>
            </div>
        </div>
      </div>
    </div>

    <section class=" contenedor" id="Servicio">
        <h2 class="subtitulo">Institución Educativa Técnico Ambiental Fernández Guerra</h2>
        <div class="contenedor-servicio">
            <img src="{% static 'img/zyro-image.png' %}" alt="" >
            <div class="checklist-servicio">
                <div class="service">
                    <h3 class="n-service">
                        <span class="number">1</span>Historia
                    </h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quisquam, earum dolorum sequi ex facilis sint perferendis delectus molestiae asperiores aut harum provident a, vero ducimus ullam, velit voluptate. Ad nostrum ipsum modi, unde natus aspernatur quasi eum doloremque aut commodi ratione neque in voluptatem quas deserunt voluptas nisi nesciunt facilis, perspiciatis nobis consectetur alias cupiditate mollitia! Officiis maxime dignissimos hic, eligendi dicta neque rerum eum delectus minus veritatis adipisci quae fugiat architecto commodi asperiores consectetur pariatur! Magni vero, amet possimus sequi dolore adipisci. Cum reprehenderit ipsam eaque quaerat beatae dicta nobis eius eos enim architecto inventore non, ipsa quos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <h2 class="subtitulo"><b><span class="number">2</span> Misión y Visión</b></h2>
    <div class="container__cards">
        <div class="card">
            <div class="cover">
                <img src="{% static 'img/Photo.jpg' %}" alt="" />
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Misión</h2>
                <p>
                    Ayudar a compañías pequeñas a entender y aprovechar las nuevas tecnologías,
                    que hará que sus empresas entren en el marketing digital y trabajen desde
                    cualquier parte del mundo.
                </p>
            </div>
        </div>
    
        <div class="card">
            <div class="cover">
                <img src="{% static 'img/Photo.jpg' %}" alt="" />
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Visión</h2>
                <p>
                    Ser en los próximos 5 años una de las mas grandes compañías, en el área
                    latina, que reduzca la brecha entre la tecnología y las pequeñas y medianas
                    empresas
                </p>
            </div>
        </div>
    </div>
    
    <h2 class="subtitulo"><b><span class="number">3</span> Principios y Valores</b></h2>
    <section class="knowledge">
        <div class="knowledge__container container">
            <div class="knowledege__texts">
                <h2 class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                <p class="knowledge__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
                    aliquam nemo in facere suscipit at 151561delectus unde labore ad officia iste accusantium eaque
                    aperiam laborum est voluptate totam? Modi, obcaecati?</p>
               
            </div>
    
            <figure class="knowledge__picture">
                <img src="{% static 'img/Banda.jpg' %}" class="knowledge__img">
            </figure>
        </div>
    </section>
    
    
    
    <h2 class="subtitulo"><b><span class="number">4</span>Directivos</b></h2>
    <div class="container__cards">
        <div class="card">
            <div class="cover">
                <img src="{% static 'img/usuario.png' %}" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Carolina Herrera</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
            </div>
        </div>
    
        <div class="card">
            <div class="cover">
                <img src="{% static 'img/usuario.png' %}" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Elon Musk</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
            </div>
        </div>
    
        <div class="card">
            <div class="cover">
                <img src="{% static 'img/usuario.png' %}" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Aya Nakamura</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
            </div>
        </div>
    
    </div>

    <h2 class="subtitulo" id="Nuestros Simbolos"><b><span class="number">5</span> Nuestros Símbolos</b></h2>
<div class="container__cards" id="Nuestros Símbolos">
    <div class="card">
        <div class="cover">
            <img src="{% static 'img/Photo.jpg' %}" alt="" />
            <div class="img__back"></div>
        </div>
        <div class="description">
            <h2>Escudo</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi nesciunt sunt recusandae deserunt temporibus possimus, quaerat nisi ipsa sapiente? Molestias officiis tempora laudantium esse nihil fugiat earum vel dicta!
            </p>
        </div>
    </div>

    <div class="card">
        <div class="cover">
            <img src="{% static 'img/Photo.jpg' %}" alt="" />
            <div class="img__back"></div>
        </div>
        <div class="description">
            <h2>Bandera</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit beatae nam minus enim, et, veritatis possimus, consectetur tenetur eligendi id mollitia neque consequuntur atque culpa quam quia. Iusto, veritatis inventore.
            </p>
        </div>
    </div>
</div>
    {% endblock contenido %}
    