{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<div class="container col-md-8">
    <div class="row">
      <div class=" container col-md-8 border border-dark border-2">
        <div class="container col-md-10">
          <div class="row">
            <div class="col border border-dark border-2 m-5 p-5 green-claro">
              <div class="container">
                <div class="row">
                  <div class="col-6 m-3 border border-dark col-md-6 mx-auto item-ppal text-white">Usuario</div>
                </div>
                <div class="input-group mb-3 border border-dark">
                  <input type="text" class="form-control" placeholder="Nombre de usuario" aria-label="Nombre de usuario" aria-describedby="basic-addon1">
                </div>
                <div class="row">
                  <div class="col-6 m-3 col-md-6 border border-dark mx-auto item-ppal text-white">Contraseña</div>
                </div>
                <div class="input-group mb-3 border border-dark">
                  <input type="text" class="form-control" placeholder="Contraseña" aria-label="Nombre de usuario" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/Administradores.html" class="btn border border-dark item-ppal text-white" type="button"> Ingresar </a>
                <button class="btn border border-dark btn-orange-p" type="button"><b>Olvide mi contraseña</b></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="partfooter">
        <img src="/img/ESCUDO DEL COLEGIO.png" alt="">
    </div>
    <div class="partfooter">
        <h4>Servicios</h4>
        <a href="#">Services 1</a>
        <a href="#">Services 2</a>
        <a href="#">Services 3</a>
    </div>
    <div class="partfooter">
        <h4>Acerca de</h4>
        <a href="#">About 1</a>
        <a href="#">About 2</a>
        <a href="#">About 3</a>
    </div>
    <div class="partfooter">
        <h4>Redes Sociales</h4>
        <div class="social-media">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>