{% extends 'partials/body.html' %}

{% block contenido %}
<div class="row align-items-center m-5">
  <div class="col">
    <div class="d-grid gap-5 col mx-auto">
      <div class="btn-group btn-lg" role="group">
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          USUARIOS
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'usuarios-crear' %}">Crear Usuarios</a></li>
          <li><a class="dropdown-item" href="{% url 'usuarios' %}">Ver Usuarios</a></li>
        </ul>
      </div>
      <div class="btn-group btn-lg" role="group">
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          EVENTOS
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'evento-crear' %}">Crear Evento</a></li>
          <li><a class="dropdown-item" href="{% url 'evento' %}">Ver Eventos</a></li>
        </ul>
      </div>
      <div class="btn-group btn-lg" role="group">
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          PUBLICACIONES
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'publicaciones-crear' %}">Crear Publicación</a></li>
          <li><a class="dropdown-item" href="{% url 'publicacion' %}">Ver Publicación</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="d-grid gap-5 col mx-auto">
      <div class="btn-group btn-lg" role="group"> 
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle btn-lg" data-bs-toggle="dropdown" aria-expanded="false">
          DOCENTES
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'docentes-crear' %}">Crear Docentes</a></li>
          <li><a class="dropdown-item" href="{% url 'docente' %}">Ver Docentes</a></li>
        </ul>
      </div>
      <div class="btn-group btn-lg" role="group">
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          GRADO
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'grado-crear' %}">Crear Grados</a></li>
          <li><a class="dropdown-item" href="{% url 'grado' %}">Ver Grados</a></li>
        </ul>
      </div>
      <div class="btn-group btn-lg" role="group">
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          ASIGNATURA
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'asignatura-crear' %}">Crear Asignatura</a></li>
          <li><a class="dropdown-item" href="{% url 'asignatura' %}">Ver Asignatura</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="d-grid gap-5 col mx-auto">
      <div class="btn-group btn-lg" role="group">
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          ESTUDIANTES
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'estudiantes-crear' %}">Crear Estudiantes</a></li>
          <li><a class="dropdown-item" href="{% url 'estudiante' %}">Ver Estudiantes</a></li>
        </ul>
      </div>
      <div class="btn-group btn-lg" role="group">
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          CURSOS
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'curso-crear' %}">Crear Cursos</a></li>
          <li><a class="dropdown-item" href="{% url 'curso' %}">Ver Cursos</a></li>
        </ul>
      </div>
      <div class="btn-group btn-lg" role="group">
        <a id="btnGroupDrop1" type="button" class="btn btn-success btn-lg
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          PRE-REGISTROS
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(182, 235, 182);">
          <li><a class="dropdown-item" href="{% url 'preregistro' %}">Ver Pre-Registros</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}