{% extends 'partials/body.html' %}


{% block contenido %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre de Asignatura</th>

      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>

    {% for asignatura in asignatura %}
    <tr>
      <td>{{asignatura.usuario}}</td>
      <td>{{asignatura.nombreAsig}}</td>
      <td><a class="btn btn-success" href="#"><i class="fas fa-pencil-alt"></i></a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock contenido %}