{% extends 'partials/body.html' %}


{% block contenido %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre de Asignatura</th>

      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>

    {% for asignatura in asignatura %}
    <tr>
      {% if asignatura.Estado == '1' %}
      <td>{{asignatura.usuario}}</td>
      <td>{{asignatura.nombreAsig}}</td>
      <td>
        <a class="btn btn-success" href="{% url 'asignatura-editar' asignatura.id %}"><i class="fas fa-pencil-alt"></i></a>
        <a class="btn btn-danger" href="{% url 'asignatura-eliminar' asignatura.id %}"><i class="fas fa-trash-alt"></i></a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock contenido %}