<div class="card m-3" style="width: 18rem;">
    <img src="{{ MEDIA_URL }}{{evento.foto.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{evento.tipoEvento}}</h5>
        <p class="card-text">{{evento.nombreEve}}</p>
        <button type="button" class="btn btn-success" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{evento.id}}">
            Más información
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal{{evento.id}}" tabindex="-1"
    aria-labelledby="exampleModal{{evento.id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModal{{evento.id}}Label">{{evento.nombreEve}}</h1>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>{{evento.nombreEve}}</b>
                <br>
                {{evento.descripEve}}
                <br>
                <b>FECHA: </b>{{evento.fechaEve}}
                <br>
                <b>Encargados: </b>{{evento.encagEve}}
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>