<div class="card m-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{evento.nombreEve}}</h5>
        <p class="card-text">{{evento.descripEve}}</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{evento.id}}">
            Más información
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal{{evento.id}}" tabindex="-1"
    aria-labelledby="exampleModal{{evento.id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModal{{evento.id}}Label">{{evento.nombreEve}}</h1>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                El evento {{evento.nombreEve}} se llevará a cabo en
                {{evento.lugarEve}} el día ...
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                        data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>