{% extends 'partials/body.html' %}


{% block contenido %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Grado</th>
      <th scope="col">Nombre del Curso</th>
      <th scope="col">Número del Curso</th>
      <th scope="col">Grado al que Pertenece</th>
      <th scope="col">Estado</th>

      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>

    {% for curso in curso %}
    <tr>
      <td>{{curso.usuario}}</td>
      <td>{{curso.grado}}</td>
      <td>{{curso.nombreCurso}}</td>
      <td>{{curso.numCurso}}</td>
      <td>{{curso.GradoPerte}}</td>
      <td>{{curso.Estado}}</td>
      <td><a class="btn btn-success" href="#"><i class="fas fa-pencil-alt"></i></a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock contenido %}