{% extends 'partials/body.html' %}


{% block contenido %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre del Grado</th>
      <th scope="col">Número del Grado</th>

      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>

    {% for grado in grado %}
    <tr>
      {% if grado.Estado == '1' %}
      <td>{{grado.nomGrado}}</td>
      <td>{{grado.numGrado}}</td>
      <td>
        <a class="btn btn-success" href="{% url 'grado-editar' grado.id %}"><i class="fas fa-pencil-alt"></a>
        <a class="btn btn-danger" href="{% url 'grado-eliminar' grado.id %}"><i class="fas fa-trash-alt"></i></a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock contenido %}