<div class="card m-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{publicacion.tipoPublicacion}}</h5>
        <p class="card-text">{{publicacion.nombrePubli}}</p>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal{{publicacion.id}}">
            Más información
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal{{publicacion.id}}" tabindex="-1"
    aria-labelledby="exampleModal{{publicacion.id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModal{{publicacion.id}}Label">{{publicacion.nombrePubli}}</h1>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{publicacion.descripPublic}}
                <br>
                <b>ENLACE: </b>{{publicacion.linkPubli}}
                <br>
                <b>JORNADA: </b>{{publicacion.jornada}}
                <br>
                <b>DOCENTE: </b>{{publicacion.docente}}
                <br>
                <b>GRADO: </b>{{publicacion.grado}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>