{% extends 'partials/body.html' %}


{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tipo de publicación</th>
            <th scope="col">Nombre de la publicación</th>
            <th scope="col">Descripcion de la publicación</th>
            <th scope="col">link de la publicación</th>
            <th scope="col">Estado</th>
            <th scope="col">Jornada</th>
            <th scope="col">Usuario</th>
            <th scope="col">Docente</th>
            <th scope="col">Grado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>

        {% for publicacion in publicacion %}
        <tr>
            {% if publicacion.Estado == '1' %}
            <td>{{publicacion.TipoPublicacion}}</td>
            <td>{{publicacion.nombrePubli}}</td>
            <td>{{publicacion.descripPublic}}</td>
            <td>{{publicacion.linkPubli}}</td>
            <td>{{publicacion.Estado}}</td>
            <td>{{publicacion.Jornada}}</td>
            <td>{{publicacion.usuario}}</td>
            <td>{{publicacion.docente}}</td>
            <td>{{publicacion.grado}}</td>
            <td>
                <a class="btn btn-success" href="{% url 'publicaciones-editar' publicacion.id %}"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-danger" href="{% url 'publicaciones-eliminar' publicacion.id %}"><i class="fas fa-trash-alt"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}


    </tbody>
</table>
{% endblock contenido %}