{% extends 'partials/body.html' %}


{% block contenido %}
<table class="table">
    <thead>
    <tr>
      <th scope="col">Tipo de publicacion</th>
      <th scope="col">Nombre de la publicacion</th>
      <th scope="col">descripcion de la publicacion</th>
      <th scope="col">link de la publicacion</th>
      <th scope="col">Estado</th> 
      <th scope="col">Jornada</th>
      <th scope="col">Usuario</th>
      <th scope="col">Docente</th>
      <th scope="col">Tipo de Publicacion</th>
      <th scope="col">Grado</th>
    </tr>
    </thead>
    <tbody>
        
        {% for evento in eventos %}
        <tr>
            <td>{{evento.TipoPublicacion}}</td>
            <td>{{evento.nombrePubli}}</td>
            <td>{{evento.descripPublic}}</td>
            <td>{{evento.linkPubli}}</td>
            <td>{{evento.Estado}}</td>
            <td>{{evento.usuario}}</td>
            <td>{{evento.docente}}</td>
            <td>{{evento.tipoPublicacion}}</td>
            <td>{{evento.grado}}</td>
        </tr>
        {% endfor %}
            
    
    </tbody>
    </table>
{% endblock contenido %}